.wrap {
    padding: 2rem 1rem;
}

.method {
    margin: 0 0 4rem 0;
}

.method .method-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .method-name + .scope-private {
    color: #AAAAAA;
}

.method section {
    margin: 2rem 0;
}

.method h3 {
    margin: 0 0 1rem 0;
}

.method .table,
.method .table p,
.method .table ol,
.method .table ul {
    margin: 0;
}

.bs-footer {
    margin: 3rem auto;
    color: #777;
    text-align: center;
}
